.caixa-formulario{
    background-color: #ffffff;
    height: 60%;
    width: 25%;
    border-radius: 3%;
    padding: 28px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    justify-content: center;
    align-items: center;
}
.caixa-formulario h2{
    font-size: 22px;
    color: #e6005a;
}

.campo{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    justify-content: start;
}
.campo label{
    color: #e6005a;
}
.campo input{
    margin-top: 10px;
    border:2px solid #32b9cd;
    border-radius: 5px;
    height: 28px;
    padding: 2px;
}

.caixa-formulario button{
    height: 15%;
    width: 35%;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: #e6005a;
    cursor: pointer;
}
.caixa-formulario button:hover{
    opacity: 0.8;
}

