*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.header{
    padding: 15px;
    border-bottom: 3px solid #32b9cd;
    background-color: black;
}

.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    color: #32b9cd;
    font-weight: 800;
}

.navbar ul{
    display: flex;
    width: 350px;
    justify-content: space-around;
    list-style: none;
}

.navbar ul li{
    color: #e3b062;
}

/*banner*/
.banner{
    background-image: url("../src/img/bg-jelly-fish-para_outras_pags.png");
    padding: 100px 0;
}

.banner .container{
    height: 390px;
    align-items: center;
    justify-content: center;
}

.banner p{
    width: 280px;
    color: #ffffff;
    font-size: 30px;
}

/*social*/
.social{
    margin: 50px 0;
}

.social .boxs, .box{
    display: flex;
}
.box{
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.box h4{
    margin: 14px 0;
    color: #e6005a;
}

.box p{
    text-align: center;
    color: #000000;
}

.box img{
    width: 150px;
}
